@media screen and (max-width: 768px) {
/* home */
	.home {
		padding: 10px 0 0;
	}
	
	/* header*/
        .menu--adaptive {
	        display: block;
	        z-index: 1;
    	}

	    .logo--header {
		    font-size: 28px;
		    margin: -11px 0 0;
		    z-index: 10;
		}

		.menu--toggle + .menu {
			display: block;
			cursor: pointer;
		}

		.menu {
			display: none;
			position: absolute;
		    padding: 2% 44%;
		    right: -1%;
		    top: -2%;
		    text-align: center;
		    background-color: rgba(56, 55, 57, 0.7);
		    border: 0px solid;
		}		

		.menu__item {
			display: block;
			float: none;
		    border: 0px;
		    margin: 0px;
		    padding: 6px 19px;
    		font-size: 21px;
		    color: #dbe2e8;
		}
	/* end of header */
/* end of home */

/* who & why */
/* end of who & why */

/* features */
/* end of features */

/* featured articles */
/* end of featured articles */

/* clients */
/* end of clients */

/* portfolio & screenshots */
/* end of portfolio & screenshots */

/* quote */
/* end of quote */

/* facts & numbers */
/* end of facts & numbers */

/* articles gallery */
/* end of articles gallery */

/* another articles' titles */
/* end of another articles' titles */

/* twitter message */
/* end of twitter message */

/* footer */
/* end of footer */
}	

@media screen and (max-width: 600px) {
/* base */
/* end of base */

/* home */
	/* header */
	/* end of header */
/* end of home */

/* who & why */
/* end of who & why */

/* features */
/* end of features */

/* featured articles */
/* end of featured articles */

/* clients */
/* end of clients */

/* portfolio & screenshots */
/* end of portfolio & screenshots */

/* quote */
/* end of quote */

/* facts & numbers */
/* end of facts & numbers */

/* articles gallery */
/* end of articles gallery */

/* another articles' titles */
/* end of another articles' titles */

/* twitter message */
/* end of twitter message */

/* footer */
/* end of footer */	
}

@media screen and (max-width: 480px) {
/* base */
/* end of base */

/* home */
	/* header */
	/* end of header */
/* end of home */

/* who & why */
/* end of who & why */

/* features */
/* end of features */

/* featured articles */
/* end of featured articles */

/* clients */
/* end of clients */

/* portfolio & screenshots */
/* end of portfolio & screenshots */

/* quote */
/* end of quote */

/* facts & numbers */
/* end of facts & numbers */

/* articles gallery */
/* end of articles gallery */

/* another articles' titles */
/* end of another articles' titles */

/* twitter message */
/* end of twitter message */

/* footer */
/* end of footer */
}

@media screen and (max-width: 320px) {
/* base */
/* end of base */

/* home */
	/* header */
	/* end of header */
/* end of home */

/* who & why */
/* end of who & why */

/* features */
/* end of features */

/* featured articles */
/* end of featured articles */

/* clients */
/* end of clients */

/* portfolio & screenshots */
/* end of portfolio & screenshots */

/* quote */
/* end of quote */

/* facts & numbers */
/* end of facts & numbers */

/* articles gallery */
/* end of articles gallery */

/* another articles' titles */
/* end of another articles' titles */

/* twitter message */
/* end of twitter message */

/* footer */
/* end of footer */
}