body {
	font-family: "SourceSansProRegular";
	color: #212121;
}
/* base */
	.block {
		
	}

	.block__container {
		max-width: 1060px;
		padding: 0 10px;
		margin: 0 auto;
		position: relative;
	}

	.title--main {
		text-align: right;
		font-size: 65px;
		font-family: 'Source Sans Pro', sans-serif;
	}

	.title {
		text-align: center;
		font-family: "SourceSansProBold";
		font-size: 24px;
		letter-spacing: 2px;
		color: #212121;
	}

	.description {
		text-align: center;
		font-size: 14px;
		line-height: 31px;
		color: #212121;		
	}

	.clearfix::after {
		content: "";
		overflow: hidden;
		display: table;
		clear: both;
	}

	.line {
		position: absolute;
		width: 67px;
		height: 6px;
		background-color: #e64a19;
	}
/* end of base */


/* home */
	.block--home {
		padding: 3.58% 0.94% 2.41%;
		background: url(../img/tree_bg.png) 100% 100% no-repeat;
		background-size: cover;
	}

	.block__container--home {
		padding: 0 0 4.72%;
	}

	.logo--header {
		float: left;
		font-size: 16px;
		font-family: "SourceSansProBold";
		line-height: 32px;
		text-transform: uppercase;
	}

	.menu {
		float: right;
	}

	.menu--header {
		margin: 0;
	}

	.menu__item {
		text-decoration: none;
	    text-transform: uppercase;	
	    padding: 0 7px;
	    font-size: 14px;
		line-height: 35px;
		font-family: "SourceSansProBold";
		color: #212121;
	}

	.menu__item:hover {
		color: #ac8f61;
	}

	.menu--adaptive {
	    display: none;
	    float: right;
	    width: 40px;
	    height: 29px;
	    position: relative;
	    cursor: pointer;
	    margin: 0%;
	    vertical-align: middle;
	}

	.menu--adaptive__mainline {
	    position: absolute;
	    left: 0;
	    top: 50%;
	    width: 100%;
	    height: 5px;
	    margin-top: -3px;
	    background: #212121;
	    transition: all linear 0.3s;
	}

	.menu--adaptive__mainline:after, 
	.menu--adaptive__mainline:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 6px;
	    background: #212121;
	    transform: rotate(0);
	    transition: all linear 0.3s;
	}

	.menu--adaptive__mainline:before {
	    top: -13px;
	}

	.menu--adaptive__mainline:after {
	    top: 13px;
	}

	#menu__hamburger:hover .menu--adaptive__mainline {
		background: #dbe2e8;
	}

	#menu__hamburger:hover .menu--adaptive__mainline:before {
	    top: -16px;
	    background: #dbe2e8;
	}

	#menu__hamburger:hover .menu--adaptive__mainline:after {
	    top: 16px;
	    background: #dbe2e8;
	}

	#menu__hamburger.menu--toggle .menu--adaptive__mainline {
	    background: transparent;
	    transition: all 0.3s linear;
	}

	.menu--toggle .menu--adaptive__mainline:before {
	    visibility: visible;
	    top: 0 !important;
	    transform: rotate(45deg);
	}

	.menu--toggle .menu--adaptive__mainline:after {
	    visibility: visible;
	    top: 0 !important;
	    transform: rotate(-45deg);
	}

	.block__content--home {
		padding: 30.84% 0 8.21%;
		margin: 0 0.75% 0 0;
	}

	.line--underline {
		position: absolute;
		right: 0.6%;
	    width: 124px;
	    height: 3px;
	    background-color: #212121;
	    margin: 8px 4px 0;
	}

	.content__description--home {
		clear: both;
		font-size: 16px;
	    line-height: 30px;
	    padding: 4% 0 4.5% 52.08%;
	    text-align: right;
	    letter-spacing: 0.2px;
	}

	.btn {    
		float: right;
	   	background: transparent;
	   	border: 0px solid;
	   	margin: 12px 0px;
	}

	.btn__caption {
	    text-decoration: none;
	    color: #212121;
	    font-size: 16px;
	    font-family: "SourceSansProBold";
	    border: 2.5px solid #212121;
	    padding: 9px 80px 11px 72px;;
	}    

	.btn__caption:hover {
		border: 2.5px solid #f8f8f8;;
		cursor: pointer;
		font-family: "SourceSansProBold";
		background: rgba(50, 47, 40, 0.2);
		color: #f8f8f8;
		
}
/* end of home */

/* who & why */
/* end of who & why */

/* features */
/* end of features */

/* featured articles */
/* end of featured articles */

/* clients */
/* end of clients */

/* portfolio & screenshots */
	.block--portfolio-screenshots {
		
	}

	.block__container--portfolio-screenshots {
		padding: 93px 10px 0px;
	}

	.line--portfolio-screenshots {
		position: absolute;
		left: 46.5%;
	}

	.description--portfolio-screenshots {
		width: 67%;
    	margin: auto;
    	padding: 27px 0 39px;
    	letter-spacing: 0.3px;
	}

	.menu--portfolio-screenshots {
		float: none;
		text-align: center;
		margin: 41px 0 32px;
	}
	
	.menu__item--portfolio-screenshots {
		display: inline-block;
		font-family: "SourceSansProRegular";
		text-transform: capitalize;
		letter-spacing: 1.4px;
		border-bottom: 2px solid transparent;
		margin: 0 9px;
    	padding: 0 2px;		
	}

	.menu__item--portfolio-screenshots:hover {
		color: #e64a19;
		border-bottom: 2px solid #e64a19;
	}

	.block--slider {
		padding: 0 0 45px;
	}

	.slick__item {
		width: 100%;
	}

/* end of portfolio & screenshots */

/* quote */
/* end of quote */

/* team members */
/* end of team members */

/* facts & numbers */
/* end of facts & numbers */

/* articles gallery */
/* end of articles gallery */

/* another articles' titles */
/* end of another articles' titles */

/* twitter message */
/* end of twitter message */

/* footer */
/* end of footer */